@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  background-color: #006736; }
  header img {
    margin: 1rem; }
  header .menu a {
    margin: 0.5rem;
    width: 170px;
    color: white;
    font-size: 18px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase; }
    header .menu a:hover {
      color: #db9300;
      text-decoration: underline; }
  header .navbar-toggler {
    border: azure solid 3px; }

.h1 {
  color: white;
  background: #006730;
  background: linear-gradient(90deg, #006730 32%, #db9300 89%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px; }

.centrar, .subtitulos {
  text-align: center; }

a {
  text-decoration: none; }

body {
  font-family: "Ruda", sans-serif; }

.texto {
  font-size: 18px;
  font-weight: bold; }

.subtitulos {
  border-top: 5px #db9300 double;
  border-bottom: 5px #006736 double;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1rem; }

footer {
  background-color: #006736;
  font-family: "Ruda", sans-serif;
  font-size: 12px;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer p {
    margin: 0.5rem; }
  footer .iconify {
    font-size: 1.5rem;
    margin: 5px;
    color: white;
    transition: all 0.3s; }
    footer .iconify:hover {
      width: 35px;
      height: 35px; }
  footer .rotate {
    transform: rotate(15deg); }
  footer a {
    color: #121313;
    font-weight: white;
    transition: all 0.3s; }
    footer a:hover {
      color: #db9300; }

.portada {
  display: flex;
  margin-bottom: 1rem; }
  .portada .carousel {
    width: 50%;
    margin-left: 0.5rem; }
    .portada .carousel .carousel-item {
      transition: 3s; }
  .portada .imgcar {
    height: 400px;
    object-fit: cover; }
  .portada .section1 {
    background-color: #db9300;
    padding: 40px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 0.5rem;
    margin-bottom: 0%; }

@media (max-width: 699px) {
  .portada {
    display: flex;
    flex-direction: column-reverse; }
    .portada .carousel {
      width: 100%;
      margin-left: 0%; }
    .portada .section1 {
      width: 100%;
      margin-top: 1rem;
      margin-right: 0%; } }

.contenedorAlquiler {
  display: flex;
  justify-content: space-evenly; }

.video {
  width: 50%;
  margin-left: 0.5rem; }

@media (min-width: 700px) and (max-width: 1100px) {
  .contenedorAlquiler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; } }

@media (max-width: 699px) {
  .contenedorAlquiler {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .contenedorAlquiler div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px; }
  .video {
    width: 100%;
    margin-left: 0%; } }

.clases {
  display: flex; }
  .clases .imgClases {
    width: 55%;
    margin-right: 0.5rem;
    height: 710px;
    object-fit: cover; }
  .clases .parClases {
    background-color: #db9300;
    padding: 25px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem; }
  .clases .formBox {
    margin-left: 0.5rem;
    border: #006736 3px solid;
    padding: 10px;
    margin-bottom: 1rem; }
    .clases .formBox .enviar {
      background-color: #006736;
      font-weight: bold;
      transition: all 0.5s; }
      .clases .formBox .enviar:hover {
        background-color: #db9300; }
    .clases .formBox .modal {
      color: #006736;
      font-weight: bold; }
    .clases .formBox .modal-title {
      color: #db9300;
      font-style: oblique;
      font-weight: bold; }

@media (max-width: 699px) {
  .clases {
    display: flex;
    flex-direction: column; }
    .clases .imgClases {
      width: 100%;
      height: 400px;
      margin-right: 0px; }
    .clases .parClases {
      margin-left: 0px;
      margin-top: 1rem; }
    .clases .formBox {
      margin-left: 0px; } }

.contenedorEscuela {
  display: flex;
  margin-bottom: 1rem; }
  .contenedorEscuela .escuelaFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.5rem; }
    .contenedorEscuela .escuelaFlex .parEscuela {
      background-color: #db9300;
      padding: 25px;
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: center; }
    .contenedorEscuela .escuelaFlex .alinear {
      display: flex;
      justify-content: center; }
    .contenedorEscuela .escuelaFlex .lista2 {
      display: flex;
      justify-content: space-evenly; }
      .contenedorEscuela .escuelaFlex .lista2 .alinear2 {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .contenedorEscuela .escuelaFlex .lista2 .alinear2 p {
          font-size: 1.3rem;
          font-weight: bolder; }
  .contenedorEscuela .imgMariposa {
    width: 500px;
    margin-left: 0.5rem;
    object-fit: cover; }

@media (max-width: 850px) {
  .contenedorEscuela {
    display: flex;
    flex-direction: column-reverse; }
    .contenedorEscuela .imgMariposa {
      margin-left: 0px;
      width: 100%;
      margin-bottom: 1rem; }
    .contenedorEscuela .escuelaFlex {
      margin-right: 0px; }
      .contenedorEscuela .escuelaFlex .lista2 {
        display: flex;
        flex-direction: column; } }

.contenedorContacto {
  display: flex;
  margin-bottom: 1rem; }
  .contenedorContacto .contactoFlex {
    display: flex;
    flex-direction: column; }
    .contenedorContacto .contactoFlex p {
      margin-right: 0.5rem; }
    .contenedorContacto .contactoFlex .text2 {
      margin-top: 1rem; }
    .contenedorContacto .contactoFlex .box {
      border: 3px #006736 solid;
      margin-right: 0.5rem;
      padding: 10px; }
  .contenedorContacto .parContacto {
    background-color: #db9300;
    padding: 25px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center; }
  .contenedorContacto .imgLuces {
    margin-left: 0.5rem;
    object-fit: cover; }

#ig {
  color: black; }

@media (max-width: 699px) {
  .contenedorContacto {
    display: flex;
    flex-direction: column-reverse; }
    .contenedorContacto .imgLuces {
      margin-left: 0px;
      height: 400px;
      margin-bottom: 1rem; }
    .contenedorContacto .contactoFlex p {
      margin-right: 0px; }
    .contenedorContacto .contactoFlex .box {
      margin-right: 0px; } }
