@import "variables";

.contenedorContacto {
  display: flex;
  margin-bottom: $margin-standar;

  .contactoFlex {
    display: flex;
    flex-direction: column;

    p {
      margin-right: $margin-standar/2;
    }

    .text2 {
      margin-top: 1rem;
    }

    .box {
      border: 3px $verde-paleta solid;
      margin-right: $margin-standar/2;
      padding: 10px;
    }
  }

  .parContacto {
    background-color: $naranja-paleta;
    padding: 25px;
    line-height: map-get($mapa, line-height);
    @include alineacionCentral;
  }

  .imgPalmera {
    margin-left: $margin-standar/2;
    object-fit: cover;
    width: 500px;
    height: auto;
  }
}

#ig {
  color: black;
}

@media (max-width: 799px) {
  .contenedorContacto {
    display: flex;
    flex-direction: column-reverse;

    .imgPalmera {
      margin-left: 0px;
      viewport-fit: 30%;
      margin-bottom: 1rem;
      width: 100%;
    }

    .contactoFlex p {
      margin-right: 0px;
    }

    .contactoFlex .box {
      margin-right: 0px;
    }
  }
}
